# Entornos / control de versiones
venv
.git
.gitignore
.vscode
.idea

# Caches / compilados
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.DS_Store

# Artefactos locales
output/*
!output/.gitkeep
*.xlsx
*.csv
*.zip

# Otros
*.sqlite
